.circular--portrait {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.original-price {
  text-decoration: line-through
}

.sale-price {
  color: red
}

.prices {
  height: 50px;
}